body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-image: url(../backgroung-images/background3.jpg);
    background-size: contain;
    background-position: cover;
    font-size: 1.2rem;
    font-family: myFirstFont1;

    -ms-overflow-style:none;
}

::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }

@font-face {
    font-family: myFirstFont;
    src: url(../font/Bubblegum.ttf);
}

@font-face {
    font-family: myFirstFont1;
    src: url(../font/Constance-7BLXE.otf);
}

@font-face {
    font-family: myFirstFont2;
    src: url(../font/Plexiglass.ttf);
}

@font-face {
    font-family: myFirstFont3;
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
#heading{
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 12rem;
    font-family: myFirstFont2;
}

#playPause {
    /* Icon styles */
    float: right;
    border-style: none;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../icons/pause.png");
    background-repeat: no-repeat; /* Optional: controls how the image repeats */
    background-size: cover;
    /* margin-right: 10px; */
}

#playPause.played {
background-image: url("../icons/play.png");
background-repeat: no-repeat; /* Optional: controls how the image repeats */
background-size: cover;
}

#level{
    border: 2px solid red;
    border-radius: 0.5rem;
    background-color: black;
    color: bisque;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

#levelnumber{
    margin-left: 39rem;
}

#hint-btn{
    color: white;
    border-radius: 0.5rem;
    height: 2rem;
    width: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgb(12, 20, 24);
    margin-left: 35rem;
    border: 1px solid white;

}

#hintconsequence{
    border: 2px solid black;
    background-color: red;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
}

#hintpage{
    font-size: 0.9rem;
}

#instructions-page{
    font-size: 1.3rem;
    border: 2px solid black;
    background-color: black;
    font-family: myFirstFont3;

}

#inst-content{
    font-size: 1.1rem;
    text-align: left;
}

#question{
    margin-top: 4rem;
    font-size: 1.5rem;
    font-family: myFirstFont1;
}

#pwdgen{
    margin-top: 4rem;
    font-size: 1.5rem;
    font-family: myFirstFont1;
    text-shadow: 1rem 0.5rem 1rem rgb(197, 115, 197);
}

#pwd{
    border: 3px solid black;
    border-radius: 1rem;
    height: 2rem;
    width: 25rem;
    margin-top: 0.3rem;
    margin-bottom: 9rem;
    font-size: 2rem;
    padding: 0.6rem;
    background-color: rgb(220, 186, 220);
}

#pass{
    margin-top: 6rem;
}
#board-pieces{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#board {
    width: 452px;
    height: 452px;
    border: 5px solid rgb(89, 9, 89);
    /* box-shadow: 0.5rem 0.5rem 0.4rem rgb(47, 14, 47); */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 86px;
    height: 86px;
    border: 0.5px solid lightblue;
}

#pieces {
    /* width: 1315px;
    height: 84px; */
    width: 452px;
    height: 452px;
    border: 5px solid  rgb(89, 9, 89);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 86px;
    height: 86px;
    border: 0.5px solid lightblue;
    background-color: black;
}


#creator{
    border: 1px solid black;
    background-color: black;
    font-size: 0.9rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#timer{
    border-radius: 0.9rem;
    height: 3rem;
    width: 7rem;
    border: 1px solid red;
    background-color: red;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}


/* lost html */
#lostHeading{
    font-size: 8rem;
    margin-top: 1rem;
    font-family: myFirstFont2;
}

#lost{
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

#tryagain{
    height: 3rem;
    width: 16rem;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid black;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    font-family: myFirstFont1;
    background-color: red;
    cursor: pointer;
    touch-action: manipulation;
    margin-bottom: 16.5rem;
}

#tryagain:not([disabled]):active {
  box-shadow: #3b2a2a 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

#playagain{
    height: 3rem;
    width: 16rem;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid black;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    font-family: myFirstFont1;
    background-color: rgb(38, 185, 38);
    cursor: pointer;
    touch-action: manipulation;
    margin-bottom: 16.5rem;
}

#playagain:not([disabled]):active {
  box-shadow: #3b2a2a 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

#instructions{
    height: 3rem;
    width: 16rem;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid black;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    font-family: myFirstFont1;
    background-color: rgb(234, 118, 92);
    cursor: pointer;
    touch-action: manipulation;
    margin-bottom: 8.9rem;
}

#instructions:not([disabled]):active {
    box-shadow: #3b2a2a 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}


#startgame{
    height: 3rem;
    width: 16rem;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid black;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    font-family: myFirstFont1;
    background-color: rgb(38, 185, 38);
    cursor: pointer;
    touch-action: manipulation;
    margin-bottom: 8.9rem;
    margin-left: 1rem;
}

#startgame:not([disabled]):active {
  box-shadow: #3b2a2a 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* POP UP */

/* CSS for the pop-up */
.popup {
    display: none; /* Hide the pop-up by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 70rem;
    background-color: white;
    padding: 20px;
    border: 0.5rem solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: black;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

/* CSS for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 999; /* Ensure the overlay is behind the pop-up */
    display: none; /* Hide the overlay by default */
}
